# Application
APP_PORT=8080
SPRING_PROFILE=docker

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_DEFAULT_BUCKET=jroom36-bucket

# PostgreSQL
DB_URL=jdbc:postgresql://postgres:5432/jroom36
DB_USERNAME=jroom36
DB_PASSWORD=jroom36
